Biggus==0.4.0
Cython==0.20
Iris==1.2
Jinja2==2.7
PuLP==1.5.4
PySAL==1.7.0
Pygments==1.6
Pympler==0.3.1
SQLAlchemy==0.9.3
Sphinx==1.2.1
Theano==0.6.0
biopython==1.63
bitarray==0.8.1
blosc==1.2.1
bokeh==unknown
cubes==1.0alpha
cvxpy==0.1
gdata==2.0.18
ggplot==0.4.7
guppy==0.1.10
h5py==2.2.1
husl==2.1.0
ipdb==0.6.1
ipython
ipython-sql==0.3.1
line-profiler==1.0b3
lxml==3.3.1
matplotlib==1.3.1
nltk==2.0.4
nose==1.1.2
numba==0.12.1
numexpr==2.3.1
numpy==1.8.0
pandas==0.13.1
pandasql==0.4.0
patsy==0.2.1
psutil==0.4.1
psycopg2==2.4.5
python-dateutil==2.1
pytz==2013b
pyzmq==14.0.1
readline==6.2.4.1
redis==2.7.6
requests==1.2.3
scapy==2.1.0
scikit-image==0.9.3
scikit-learn==0.14.1
scipy==0.13.3
seaborn==0.2.1
six==1.5.2
spyder==2.2.5
sqlparse==0.1.6
statsmodels==0.5.0
sympy==0.7.4.1
tables==3.1.0
tornado==3.2